<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Recommend Me!</h1>
  
  <button type="button" class="btn btn-success btnrespuesta" (click)="darRespuesta($event)">
    Terminar
  </button>

  <!-- <app-recomendaciones  [resultado]="listaResultado" (solicitarResultado)="darRespuesta($event)"></app-recomendaciones> -->
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of fillerNav" (click)="cambiarOpcionRecomendados(nav)">{{nav}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-escoger-favoritos [opcion]="opcionSeleccionada" (resultadoFiltrado)="getListaResultado($event)" [solicitarResultado]="generarResultado"></app-escoger-favoritos>
  </mat-sidenav-content>
</mat-sidenav-container>